DATABASE_URL=postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require
PGHOST=HOST
PGPORT=5432
PGDATABASE=DATABASE
PGUSER=USER
PGPASSWORD=PASSWORD
PGSSLMODE=require

JWT_SECRET=ganti-dengan-random-string-minimal-32-karakter

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
CLOUDINARY_UPLOAD_PRESET=
CLOUDINARY_FOLDER=
CLOUDINARY_SECURE_DELIVERY=true

NEXT_PUBLIC_ENABLE_PWA=true
NEXT_PUBLIC_SHOW_DEMO_DATA=false
NEXT_PUBLIC_ENABLE_IMAGE_UPLOAD=true
NEXT_PUBLIC_ENABLE_HANDOVER_MODULE=true
